/*basic*/
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #666;
	background: #ffffff;
}
.center{
	text-align:center;
}

.center ul li{
	display:inline;
	font-size: 22px;
	color: black;
}

#Bandymas{	
	padding:50px;
}

.right { 
 bottom:0px;
    left: 100px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.floating-box {
    float: left;
    width: 150px;
    height: 75px;
    margin: 0px;
    border: 3px solid #73AD21;  
}






















h1 {
	font-size: 49px;
}

p {
	color: red;	
}

.pirmasB{
	color: blue;	
}

.pirmasB h1{
	font-size: 9px;
}

.ins h1{
	font-size: 39px;
	color: green;	
}

.pirmasC{
	color: black;	
}
.pirmasC h1{
	color: red;	
	font-size: 19px;
	padding: 50px;
}


